.serpa1{background-image:url(../img/separa_buscar.png);background-repeat:no-repeat;background-position:center;padding:7px}
.degra_menu_top{background-image:url(../img/degradado_men_top.png);background-repeat:repeat-x;background-position:center}
.degra_menu_princ{background-image:url(../img/degradado_men_princ.png);background-repeat:repeat-x;background-position:center}
.borderRadius3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.arial_gral{font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000}
.titulo_post_time{font-family:"Times New Roman",Times,serif;font-size:12px;color:#000}
body{font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000;margin:0;background-color:#fff}
.mi_main{width:100%}
.contenedor{width:100%;margin:0 auto;position:relative}
.contiene_top{background-color:#fff;width:100%;height:37px}
.menu-top-container{height:37px;width:500px;margin:centrar_div;float:left}
.cont_search{height:32px;padding-top:3px;float:right;margin:0 auto;margin-right:20px}
.cont_search div{padding-top:2px;float:right}
.cont_search ul{padding:0;margin:0}
.cont_search ul li{display:inline-block;list-style:none;margin:0 0 0 4px}
.cont_search .botom_s{background-image:url('../img/boton_buscar.png');background-repeat:no-repeat;background-position:center}
.cont_search ul li.serpa{background-image:url(../img/separa_buscar.png);background-repeat:no-repeat;background-position:center;padding:7px}
.cont_search input[type="text"],input[type="password"],textarea{background:#f9f9f9;border:0 solid #ccc;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);padding-right:80px;height:9px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(PIE.htc)}
.cont_search #s{color:#999;font-family:Arial,sans-serif;font-size:12px;margin:0 0 0 0;padding:9px 8px 8px 8px;text-transform:lowercase;width:200px}
.cont_search #searchsubmit{color:#fff;background-image:url('../img/boton_buscar.png');background-repeat:no-repeat;background-position:center;border:none;height:23px;width:61px}
#con_menu_top{height:37px;background-image:url(../img/degradado_men_top.png);background-repeat:repeat-x;background-position:center;width:1058px;margin:0 auto}
.list_men_top{margin:0;padding-top:10px;float:left;font-size:12px}
ul.list_men_top li{display:inline-block;padding-bottom:5px;color:#fff;text-decoration:none}
ul.list_men_top li a{text-decoration:none;color:#fff;padding:5px 5px 5px 5px}
ul.list_men_top li a:hover{background-color:#00bf09;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
#cont_cabecera{margin:0 auto;width:1058px;height:155px;background-image:url(../img/fondo_verde.png);background-repeat:no-repeat;background-position:top center;margin:0 auto}
._cabecera{margin:0 auto;width:1058px}
#seccion_cabecera{margin:0 auto;height:99px;width:480px;padding-left:20px;padding-top:10px;float:left}
._menu_prin{margin:0 auto;width:1058px}
#inicio_link{background-image:url(img/home.png);background-repeat:no-repeat;background-position:12px 10px;float:left;height:37px;width:50px}
#inicio_link ul li{margin:0;list-style:none;display:inline-block}
#inicio_link ul li a{margin-left:-40px;padding-left:14px;padding-right:36px;padding-bottom:12px;padding-top:15px;}
#inicio_link ul li a:hover{background-color:#000;background-image:url(img/home.png);background-repeat:no-repeat;background-position:12px 10px;border:none}
#cont_menu_prin{margin:0 auto;clear:both;height:40px;background-image:url(../img/degradado_men_princ.png);background-repeat:repeat-x;background-position:center}
#access{margin:0 auto;width:940px;text-align:center;height:40px}
#access .menu-header,div.menu{font-size:14px;margin-left:10px;width:928px}
#access .menu-header ul .con-sub-menu{}
#access .menu-header ul{list-style:none;margin-left:0;padding-left:0}
.menu-header ul li{display:inline-block;position:relative}
#access .menu-header a{color:#fff;display:inline-block;line-height:39px;padding:0 10px;text-decoration:none}
#access ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;background-color:#000;display:none;position:absolute;top:37px;left:0;float:left;width:180px;z-index:99999;behavior:url(PIE.htc)}
#access ul ul li{min-width:180px}
#access ul ul ul{left:10%;top:10%}
#access ul ul a{background:#000;width:150px;height:30px;}
#access li:hover>a{background:#000;color:#fff}
#access ul ul :hover>a{background:#007dd9;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(../css/PIE.htc)}
#access ul li:hover>ul a{padding-bottom:10px}
#access ul li:hover>ul{display:inherit;padding-top:7px;padding-bottom:7px}
#access ul li.current_page_item>a,#access ul li.current_page_ancestor>a,#access ul li.current-menu-ancestor>a,#access ul li.current-menu-item>a,#access ul li.current-menu-parent>a{color:#fff}
* html #access ul li.current_page_item a,* html #access ul li.current_page_ancestor a,* html #access ul li.current-menu-ancestor a,* html #access ul li.current-menu-item a,* html #access ul li.current-menu-parent a,* html #access ul li a:hover{color:#fff}
#access .menu-header ul .con-sub-menu>a{background-image:url(../img/flecha_down.png);background-position:right;background-repeat:no-repeat;background-position:93%;padding-right:25px}
#access .menu-header ul .con-sub-menu>a:hover{background-position:93% 62%}
