.a_hover_und_line a:hover{text-decoration:underline}
.rep_x_center{background-repeat:repeat-x;background-position:center}
.serpa1{background-image:url(../img/separa_buscar.png);background-repeat:no-repeat;background-position:center;padding:7px}
.degra_menu_top{background-image:url(../img/degradado_men_top.png);background-repeat:repeat-x;background-position:center}
.degra_menu_princ{background-image:url(../img/degradado_men_princ.png);background-repeat:repeat-x;background-position:center}
.borderRadius3{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.arial_gral{font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000}
.titulo_post_time{font-family:"Times New Roman",Times,sans-serif;font-size:12px;color:#000}
img{border:0}
body{font-family:Helvetica,Arial,sans-serif;font-size:12px;color:#000;margin:0;background-color:#fff}
.mi_main{width:100%}
.contenedor{width:100%;margin:0 auto;clear:both}
.contiene_top{background-color:#fff;width:100%;height:37px}
.menu-top-container{height:37px;width:500px;margin:centrar_div;float:left}
.cont_search{height:32px;padding-top:3px;float:right;margin:0 auto;margin-right:20px}
.cont_search div{padding-top:2px;float:right}
.cont_search ul{padding:0;margin:0}
.cont_search ul li{display:inline-block;list-style:none;margin:0 0 0 4px}
.cont_search .botom_s{background-image:url('../img/boton_buscar.png');background-repeat:no-repeat;background-position:center}
.cont_search ul li.serpa{background-image:url(../img/separa_buscar.png);background-repeat:no-repeat;background-position:center;padding:7px}
.cont_search input[type="text"],input[type="password"],textarea{background:#f9f9f9;border:0 solid #ccc;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);padding-right:80px;height:9px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(PIE.htc)}
.cont_search #s{color:#999;font-family:Arial,sans-serif;font-size:12px;margin:0 0 0 0;padding:9px 8px 8px 8px;text-transform:lowercase;width:200px}
.cont_search #searchsubmit{color:#fff;background-image:url('../img/boton_buscar.png');background-repeat:no-repeat;background-position:center;border:none;height:23px;width:61px}
#con_menu_top{height:37px;background-image:url(../img/degradado_men_top.png);background-repeat:repeat-x;background-position:center;width:1058px;margin:0 auto}
.list_men_top{margin:0;padding-top:10px;float:left;font-size:12px}
ul.list_men_top li{display:inline-block;padding-bottom:5px;color:#fff;text-decoration:none}
ul.list_men_top li a{text-decoration:none;color:#fff;padding:5px 5px 5px 5px}
ul.list_men_top li a:hover{background-color:#00bf09;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
#cont_cabecera{margin:0 auto;width:1058px;height:155px;background-image:url(../img/fondo_verde.png);background-repeat:no-repeat;background-position:top center;margin:0 auto}
._cabecera{margin:0 auto;width:1058px}
#seccion_cabecera{margin:0 auto;height:99px;width:480px;padding-left:20px;padding-top:10px;float:left}
._menu_prin{margin:0 auto;width:1058px}
#inicio_link{background-image:url(img/home.png);background-repeat:no-repeat;background-position:12px 10px;float:left;height:37px;width:50px}
#inicio_link ul li{margin:0;list-style:none;display:inline-block}
#inicio_link ul li a{margin-left:-40px;padding-left:14px;padding-right:36px;padding-bottom:12px;padding-top:15px}
#inicio_link ul li a:hover{background-color:#00bf09;background-image:url(img/home.png);background-repeat:no-repeat;background-position:12px 10px;border:none}
#cont_menu_prin{margin:0 auto;clear:both;height:40px;background-image:url(../img/degradado_men_princ.png);background-repeat:repeat-x;background-position:center}
#access{margin:0 auto;width:940px;text-align:center;height:40px}
#access .menu-header,div.menu{font-size:14px;margin-left:10px;width:928px}
#access .menu-header ul{list-style:none;margin-left:0;padding-left:0}
.menu-header ul li{display:inline-block;position:relative;padding-left:0}
#access .menu-header a{color:#fff;display:inline-block;line-height:39px;padding:0 13px;text-decoration:none;margin-left:-8px;margin-right:-8px}
#access ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 3px 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;background-color:#000;display:none;position:absolute;top:37px;left:0;float:left;width:180px;z-index:99999;behavior:url(PIE.htc)}
#access ul ul li{min-width:180px}
#access ul ul ul{left:10%;top:10%}
#access ul ul a{background:#000;width:150px;height:30px}
#access li:hover>a{background-image:url('../img/degradado_men_princ_over.png');background-position:center;background-repeat:repeat-x;color:#fff;text-decoration:underline}
#access ul ul :hover>a{background:#007dd9;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(../css/PIE.htc)}
#access ul li:hover>ul a{padding-bottom:10px}
#access ul li:hover>ul{display:inherit;padding-top:7px;padding-bottom:7px}
#access ul li.current_page_item>a,#access ul li.current_page_ancestor>a,#access ul li.current-menu-ancestor>a,#access ul li.current-menu-item>a,#access ul li.current-menu-parent>a{color:#fff}
* html #access ul li.current_page_item a,* html #access ul li.current_page_ancestor a,* html #access ul li.current-menu-ancestor a,* html #access ul li.current-menu-item a,* html #access ul li.current-menu-parent a,* html #access ul li a:hover{color:#fff}
#access .menu-header ul .con-sub-menu>a{background-image:url(../img/flecha_down.png);background-position:right;background-repeat:no-repeat;background-position:93%;padding-right:25px}
#access .menu-header ul .con-sub-menu>a:hover{background-position:93% 62%}
#access .menu-header .serpa_men_princ{background-image:url('../img/separa_men_princ.png');background-repeat:no-repeat;background-position:center;padding:10px 0 10px 0}
.cabeza_secciones{background-color:#007dd9;height:28px;width:706px;padding:6px;color:#fff;vertical-align:baseline;margin-bottom:5px;border-top:4px solid #000;}
.contenido_cabeza_secciones{height:32px;font-size:18px}
.entre_seccion{height:5px}
#conte_cuerpo{margin:0 auto;width:1058px}
.conte_todos_post{float:left;background-color:#eee;width:758px;vertical-align:top}
.conte_el_post{display:inline-block;float:left;position:relative;width:755px;height:235px;margin-bottom:50px}
.conte_el_post a{text-decoration:none;color:#000}
.cabeza_meta{padding:0 0 8px 8px;float:left;width:330px}
.cabeza_post{font-family:"Times New Roman",Times,sans-serif;font-size:12px;font-size:22px;color:#000;padding:0 0 0 12px;margin-bottom:2px;float:left}
.titulo_post{width:350px}
.cuerpo_post{margin:0 3px 4px 4px;padding:6px;height:235px;background-color:#fff;border-top:6px solid #00357c}
.imagen_post{float:left;background-color:#000;height:181px;width:367px}
.leyenda_im{font-size:xx-small;width:367px;height:20px;float:left;line-height:10px}
.eti_cate{min-width:38px;height:18px;position:absolute;display:inline-block;padding:0 3px 0 3px;border-bottom:2px solid #00bf09;right:10px;color:#00357c;text-align:center}
.eti_cate a{font-size:xx-small;font-weight:bolder;color:#00357c}
.cont_foot_post{height:auto;width:350px;word-wrap:break-word;float:left;margin-left:12px}
.post_meta{padding:4px;color:#00357c;font-size:10px}
.post_meta a{color:#00357c;font-weight:bold}
.fracmento_post{padding:8px;color:#000;font-size:12px;line-height:18px;text-align:justify;vertical-align:top;margin-bottom:5px}
.lee_mas a{color:#fff;padding:6px;background-color:#00bf09;border-right:16px solid #005a98}
.lee_mas{position:absolute;float:right;top:225px;right:10px;color:#fff}.lee_mas a:hover{text-decoration:underline}
.foot_meta{height:22px;padding:0 0 0 6px;position:absolute;width:367px;left:4px;vertical-align:bottom;bottom:-2px;font-size:11px;border-top:1px solid #eee}
.entry-content p{padding:0}
.entry-meta{padding-top:10px;width:115px;padding-left:4px;float:left}
.social_list{padding-top:5px;float:right;width:160px;font-size:11px;text-align:right}
.social_list ul{display:inline-block;padding:0;margin:0}
.social_list ul li{display:inline-block;list-style:none;padding:0;margin-left:5px;vertical-align:middle}
.social_list a{color:#005a98;font-size:18px}
.social_list ul li a:hover{color:#00bf09}
.elements_mas_coment{width:758px;background-color:#00bf09;height:auto}
.contne_mas_coment{float:left;width:356px;height:auto;margin:0 8px 0 0;padding:8px 0 4px 10px}
.cuerp_mas_comet{width:345px;height:93px;border:1px solid #000;background-color:#00357c;padding:8px}
.el_sidebar{float:left;width:275px;background-color:#fff;margin-left:6px;padding-bottom:6px;margin-bottom:10px}
.el_sidebar a{color:#000;text-decoration:none}
.conte_sidebar{display:inline-block;margin-bottom:20px}
.titulo_seccion{background-color:#007dd9;font-size:18px;color:#fff;height:33px;padding:7px 0 0 10px;vertical-align:middle;border-top:4px solid #000}
.post_comentado{float:left;width:100%;height:130px;background-color:#eee;border-bottom:2px solid #fff}
.contenido_comentado{margin:9px;background-color:#fff;}
.img_comentado{float:left;height:80px;width:80px;background-color:#fff}
.name_post{float:left;background-color:#fff;height:64px;padding:8px;width:153px}
.foot_comentado{clear:both;padding:6px;color:#212121;border-top:1px solid #eee;font-size:xx-small;border-left:4px solid #ccc}
.cont_nav{width:758px;margin:0 auto}
.navigation{background-color:#fff}
.pagenavi{margin:0 auto;text-align:center;padding:40px 0 40px 0;width:350px}
.pagenavi a{padding:5px 10px 4px 10px;margin:3px;text-decoration:none;color:#fff;background-color:#005a98;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.pagenavi a:hover{color:#fff;background-color:#00bf09}
.pagenavi span.pages{padding:5px 6px 4px 6px;margin:3px;color:#000;border:1px solid #eee;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.pagenavi span.current{padding:5px 9px 0 9px;margin:3px 3px 0 3px;color:#000;border:1px solid #eee;border-bottom:4px solid #00bf09;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.pagenavi span.expand{padding:5px 6px 4px 6px;margin:3px;color:#000;background-color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(PIE.htc)}
.contenedor_footer{float:left;width:100%;background-image:url('../img/degradado_pie.png');background-repeat:repeat-x;background-position:center;height:230px;color:#fff}
.contenedor_footer a{color:#fff;text-decoration:none}
.elemnetos_footer{margin:0 auto;height:230px;width:1058px}
.columna_footer{float:left;height:230px;width:350px}
.contenido_columna{padding:10px}
