//Color fondo pagina
@blanco: #FFF;
@verde:#454545;


//Generales
@full_ancho:100%;
@centrar_div: 0 auto;
@ancho_cuerpo:1058px;


//Fuente de body
@font_grl:Arial, Helvetica, sans-serif;
@font_tam_grl: 12px;

//PRE ESTILOS MIXIN
/////////////
/////////////
.serpa1{
	background-image: url(../img/separa_buscar.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 7px;
}


.degra_menu_top{
	background-image: url(../img/degradado_men_top.png);
	background-repeat: repeat-x;
	background-position: center;
}

.degra_menu_princ{
	background-image: url(../img/degradado_men_princ.png);
	background-repeat: repeat-x;
	background-position: center;
}

.borderRadius3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);

}

.gral_bor_radio(@radio){
	-webkit-border-radius: @radio;
	-moz-border-radius: @radio;
	border-radius: @radio;
	behavior: url(PIE.htc);
}

.arial_gral{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #000;
}
.titulo_post_time{
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000;
}
/////////////
//.PRE ESTILOS

body{
	.arial_gral;
	margin: 0px;
	background-color: @blanco;
}

.mi_main{
	width: @full_ancho;
}

.contenedor{
	width: @full_ancho;
	margin: @centrar_div;
	position:relative;
}

/*CABECERA*/

.contiene_top{//Contine los div del top
	background-color: @blanco;
	width: @full_ancho;
	height: 37px;

}

.menu-top-container{
	height:37px;
	width:500px;
	margin: centrar_div;
	float: left;

}

//CAJA DE BUSQUEDA

.cont_search{ /*Contiene caja de busqueda*/
	height:32px;
	padding-top: 3px;
	float: right;
	margin:@centrar_div;
	margin-right: 20px;

}

.cont_search div{ /*Contiene caja de busqueda*/
	padding-top: 2px;
	float: right;
}


.cont_search ul {
	padding: 0px;
	margin: 0px;
}

.cont_search ul li{
	display: inline-block;
	list-style: none;
	margin:0px 0px 0px 4px;
}

.cont_search .botom_s{
	background-image: url('../img/boton_buscar.png'); 
	background-repeat: no-repeat;
	background-position: center;
}
.cont_search ul li.serpa{
	.serpa1;
}


.cont_search input[type="text"], input[type="password"], textarea {
 
    background: #f9f9f9;
    border: 0px solid #cccccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    padding-right: 80px;
    height: 9px;
    .gral_bor_radio(5px);

}

.cont_search #s {
	color: #999999;
	font-family: Arial, sans-serif; 
	font-size: 12px; 
	margin: 0 0px 0 0; 
	padding: 9px 8px 8px 8px;
	text-transform: lowercase; 
	width: 200px;
} 


.cont_search #searchsubmit {
	// text-indent: -9999px;
	color: @blanco;
	background-image: url('../img/boton_buscar.png'); 
	background-repeat: no-repeat;
	background-position:center;
	border: none;	
	height: 23px;
	width: 61px; 
}
//.CAJA DE BUSQUEDA



#con_menu_top{/*Contenedor del menu top*/
	height:37px;
	.degra_menu_top;
	width: @ancho_cuerpo;
	margin:@centrar_div;
	
}

.list_men_top{
	margin:0px;
	padding-top:10px;
	float:left;
	font-size:12px;
}


ul.list_men_top li {
	display:inline-block;
	padding-bottom:5px;
	color: @blanco;
	text-decoration:none;
		
}

ul.list_men_top li a {
	text-decoration:none;
	color:@blanco;
	padding: 5px 5px 5px 5px;
	// text-align:center;
	
}

ul.list_men_top li a:hover {
	background-color:@verde;
	.borderRadius3;
}

/*INICIO CONTENEDOR HEAD*/

	
#cont_cabecera{
	margin:@centrar_div;
	width:@ancho_cuerpo;
	height:155px;
	background-image: url(../img/fondo_verde.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin:@centrar_div;
}

._cabecera{
	margin:@centrar_div;
	width:@ancho_cuerpo;
}

#seccion_cabecera{
	margin: @centrar_div; 
	height:99px;
	width:480px;
	padding-left:20px;
	padding-top:10px;
	float:left;
}

._menu_prin{
	margin: @centrar_div;
	width: @ancho_cuerpo;

}	
/*.INICIO CONTENEDOR HEAD*/


/*INICIO MENU PRINCIPAL*/

#inicio_link{/*Link inicio casita*/
	/*background-color:#007DD9;*/
	background-image:url(img/home.png);
	background-repeat:no-repeat;
	background-position: 12px 10px;
	float:left;
	height:37px;
	width:50px;
}


#inicio_link ul li{
	margin:0;
	list-style:none;
	display:inline-block;
	}
	
#inicio_link ul li a{
	margin-left:-40px;
	padding-left:14px;
	padding-right:36px;
	padding-bottom:12px;
	padding-top:15px;
	
	/*background-color:#39C;*/
	}
	
#inicio_link ul li a:hover{
	background-color:@verde;
	background-image:url(img/home.png);
	background-repeat:no-repeat;
	background-position: 12px 10px;
	border:none;
	
}

#cont_menu_prin{
	margin: @centrar_div;
	clear:both;
	height:40px;
	.degra_menu_princ;
	
}


#access {
	margin:@centrar_div;
	width: 940px;
	text-align:center;
	height: 40px;

}


#access .menu-header,
div.menu {
	font-size: 14px;
	margin-left: 10px;
	width: 928px;
}



#access .menu-header ul { /*ul del menu*/
	list-style: none;
	margin-left: 0;
	padding-left:0;
		
	}

.menu-header ul li {
	display:inline-block;
	position: relative;
	padding-left: 0px;
}
#access .menu-header a { /*tolos los link del menu y sub menu*/
	color: #FFF;
	display:inline-block;
	line-height: 39px;
	padding: 0px 13px;/**/
	text-decoration: none;
	margin-left: -7px;
	margin-right: -10px;
	// margin-top: 10px;
	
}




#access ul ul {/*Sub menu escondido*/
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	
	border-radius: 0px 0px 5px 5px; 
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	
	background-color:#000;
	display: none;
	position: absolute;
	top: 37px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
	/*background-color:#0C6;*/
	behavior: url(PIE.htc);
	
	
}
#access ul ul li {
	min-width: 180px;
	
}
#access ul ul ul {
	left:10%;
	top: 10%;
	
	
}
#access ul ul a { /*links de Sub menu escondido*/
	background: #000;
	width:150px;
	height:30px;
	
}
#access li:hover > a{
	
	background-image: url('../img/degradado_men_princ_over.png');
	background-position: center;
	background-repeat:repeat-x;
	color:@blanco;
	text-decoration: underline;
	
}	
#access ul ul :hover > a {
	background:#007DD9;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(../css/PIE.htc);
	
	
}

#access ul li:hover > ul a {
		padding-bottom:10px;
		
	}
	
#access ul li:hover > ul { /*ul del submenu*/
	display:inherit;
	padding-top:7px;
	padding-bottom:7px;	
	
	}
#access ul li.current_page_item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_ancestor a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


#access .menu-header ul .con-sub-menu > a{
	 background-image:url(../img/flecha_down.png);
	 background-position:right;
	 background-repeat:no-repeat;
	 background-position: 93%;
	 padding-right:25px;
	
}
#access .menu-header ul .con-sub-menu > a:hover{
	 background-position: 93% 62%;
}

#access .menu-header .serpa_men_princ {
	background-image: url('../img/separa_men_princ.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 10px 0px 10px 0px;
	

}



